@import "tailwindcss";

.nav-line {
  @apply absolute -bottom-1 left-0 w-0 h-[2px] bg-blue-600 transition-all group-hover:w-full;
}

body {
  scroll-behavior: smooth;
}

.nav-line {
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background-color: #2563eb;
  transition: width 0.3s ease;
}

.group:hover .nav-line {
  width: 100%;
}

.nav-line.active {
  width: 100%;
}
